<html>
  <head>
    <title>{{.Next.Status}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        {{template "user_header" .}}{{include "../views/templates/user_header.html"}}
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{.Next.Status}}</h3>
        </div>
        <div class="panel-body">
            {{if .Err}}
            <div class="alert alert-danger" role="alert">
                <li><strong>エラー</strong>-{{.Err}}</li>
            </div>
            {{end}}
            <form action="{{.Next.URL}}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">講義名：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="edit_Class" placeholder="講義名" name="class" value="{{.Article.Class}}" /><br />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">担当教員：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="edit_teacher" placeholder="教員名" name="teacher" value="{{.Article.Teacher}}" /><br />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">タイトル：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="edit_tilte" placeholder="タイトル" name="title" value="{{.Article.Title}}" /><br />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">記事ステータス：</label>
                    <div class="col-md-10">
                        <select name="status" required>
                            <option selected value="">▼選択</option>
                                {{range .ArticleStatus}}
                                    <option value="{{.}}">{{.}}</option>
                                {{end}}
                                <option value="無効なステータス">無効なステータス</option>
                         </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">アドバイス：</label>
                    <div class="col-md-10">
                        <textarea placeholder="アドバイス" rows="10" class="form-control" id="edit_content" name="content">{{.Article.Content}}</textarea>
                    </div>
                </div>  

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-block">保存</button>
                    </div>
                </div>
            </form>
            
            {{if .DeleteURL}}
                <form action="{{.DeleteURL}}" method="get" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-danger btn-block">記事を削除</button>
                        </div>
                    </div>
                </form>
            {{end}}
        </div>
      </div>
    </div>
  </body>
</html>