{{define "base_article_list"}}
<div class="list-group">
    	<a href="/user/{{.UserID}}/article/{{.ID}}/edit" class="list-group-item list-group-item-action flex-column align-items-start">
    		<div class="d-flex w-100 justify-content-between">
    			<h5 class="mb-1">{{.Title}}</h5>
    			<small>{{.LastUpdate}}</small>
    		</div>
			<p class="mb-1">科目: {{.Class}}</p>
			<p class="mb-1">担当講師: {{.Teacher}}</p>
			<!-- <small>Donec id elit non mi .</small> -->
		</a>
</div>
{{end}}

{{define "base_subject_article_list"}}
{{$User := .User}}
{{range .Articles}}
<div class="list-group">
    	<a href="/user/{{$User.ID}}/article/{{.ID}}/other" class="list-group-item list-group-item-action flex-column align-items-start">
    		<div class="d-flex w-100 justify-content-between">
    			<h5 class="mb-1">{{.Title}}</h5>
    			<small>{{.LastUpdate}}</small>
    		</div>
			<p class="mb-1">科目: {{.Class}}</p>
			<p class="mb-1">担当講師: {{.Teacher}}</p>
			<!-- <small>Donec id elit non mi .</small> -->
		</a>
</div>
{{end}}
{{end}}

{{define "base_public_article_list"}}
<div class="list-group">
    	<a href="/article/{{.ID}}" class="list-group-item list-group-item-action flex-column align-items-start">
    		<div class="d-flex w-100 justify-content-between">
    			<h5 class="mb-1">{{.Title}}</h5>
    			<small>{{.LastUpdate}}</small>
    		</div>
			<p class="mb-1">科目: {{.Class}}</p>
			<p class="mb-1">担当講師: {{.Teacher}}</p>
			<!-- <small>Donec id elit non mi .</small> -->
		</a>
</div>
{{end}}

