<html>
  <head>
    <title>Zuru</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
          {{template "header" .}}{{include "../views/templates/header.html"}}
      </div>
      <h1>大学定期試験試験情報サイトZuru</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">定期試験の情報を共有しよう</h3>
        </div>
      </div>
    </div>
  </body>
</html>