<html>
  <head>
    <title>Zuru</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="page-header">
        {{template "header" .}}{{include "../views/templates/header.html"}}
    </div>
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">大学試験情報共有サイトZuru</h1>
          <p>定期試験の情報を共有しよう</p>
          <p><a class="btn btn-default btn-lg" href="/signup" role="button">サインアップ</a></p>
        </div>
      </div>
    </main>
  </body>
</html>