<html>
  <head>
    <title>ログイン</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
          {{template "header" .}}{{include "../views/templates/header.html"}}
      </div>
      <h1>ログイン</h1>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">全ての機能を使うためにログインしてください</h3>
        </div>
        <div class="panel-body">
            {{range .Err}}
            <div class="alert alert-danger" role="alert">
              <strong>エラー</strong>-{{.}}
            </div>
            {{end}}
            
            <form action="/auth/login/default" method="post" class="form-horizontal">
                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">メールアドレス：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="login_name" placeholder="Name" name="email" /><br />
                    </div>
                </div>
                        
                <div class="form-group">
                    <label for="input_password" class="col-md-2 control-label">パスワード：</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="input_password" placeholder="Password" name="password" /></label><br />
                    </div>
                </div>
                        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-block">ログイン</button>
                    </div>
                </div>
            </form>      


          <!-- <p>または</p>
          <ul>
            <li>
              <a href="/auth/login/facebook">Facebook</a>
            </li>
            <li>
              <a href="/auth/login/google">Google</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </body>
</html>