<html>
  <head>
    <title>ログアウト</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
          {{template "header" .}}{{include "../views/templates/header.html"}}
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">ログアウトしますか？</h3>
        </div>
        <div class="panel-body">
            <form action="/logout/post" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-danger btn-block">ログアウト</button>
                    </div>
                </div>
            </form>     
        </div>
      </div>
    </div>
  </body>
</html>