<html>
  <head>
    <title>新規アカウント作成</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        // const f = new Map();
        // {{range .Faculties}}
        //     f.set("{{.ID}}","{{.}}");
        // {{end}}
        
        const f = new Array();
        {{range .Faculties}}
            f.push(
              {id:"{{.ID}}",name:"{{.Name}}",UniversityID:"{{.University.ID}}"}
              );
        {{end}}


        const s = new Array();
        {{range .Subjects}}
            s.push(
              {id:"{{.ID}}",name:"{{.Name}}",FacultyID:"{{.Faculty.ID}}"}
              );
        {{end}}

        function selUniv(obj){
          var selObj = document.getElementById('Facu');
          var displayFaculties = Array();
          for (var i=0;i<f.length;i++) {
            if (f[i].UniversityID==obj.value){
              displayFaculties.push(f[i]);
            }
          }
          for(i=0;displayFaculties.length;i++) {
            let op = document.createElement("option");
            op.value = displayFaculties[i].id;
            op.text = displayFaculties[i].name;
            selObj.appendChild(op);
          }
        }

        function selFacu(obj){
          var selObj = document.getElementById('Subj');
          var displaySubjects = Array();
          for (var i=0;i<s.length;i++) {
            if (s[i].FacultyID==obj.value){
              displaySubjects.push(s[i]);
              console.log(i);
            }
          }
          for(i=0;displaySubjects.length;i++) {
            let op = document.createElement("option");
            op.value = displaySubjects[i].id;
            op.text = displaySubjects[i].name;
            selObj.appendChild(op);
          }
        }

        
        // TODO: ここを参考に実装しよう https://javascript.programmer-reference.com/js-selectbox-linkage/
        // TODO: ここを参考に実装しよう https://astaxie.gitbooks.io/build-web-application-with-golang/content/ja/07.4.html
    </script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>新規アカウント作成</h1>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">全ての機能を使うためにアカウントを作成してください</h3>
        </div>
        <div class="panel-body">
            
            <form action="/signup/post" method="post" class="form-horizontal" data-toggle="validator">
                
                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">大学：</label>
                    <div class="col-md-10">
                        <select name="" required onchange=selUniv(this);>
                            <option selected>---</option>
                            {{range .Universities}}
                                <option value="{{.ID}}">{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">学部：</label>
                    <div class="col-md-10">
                        <select id="Facu" name="" required onchange=selFacu(this);>
                            <option selected>---</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">学科：</label>
                    <div class="col-md-10">
                        <select id="Subj" name="subject" required>
                            <option selected>---</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_name" class="col-md-2 control-label">ニックネーム(変更可能)：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="login_name" placeholder="ニックネーム" name="userName" data-error="ニックネームは必須です。" required /><br />
                    </div>
                </div>

                <div class="form-group">
                    <label for="input_email" class="col-md-2 control-label">メールアドレス：</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="login_email" placeholder="メールアドレス" name="email" data-error="メールアドレスは必須です" required /><br />
                    </div>
                </div>
                        
                <div class="form-group">
                    <label for="input_password" class="col-md-2 control-label">パスワード：</label>
                    <div class="col-md-10">
                        <input type="password" class="form-control" id="input_password" placeholder="パスワード" name="password" data-error="パスワードは必須です" required /></label><br />
                    </div>
                </div>
                        
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-block">作成</button>
                    </div>
                </div>
            </form>      


          <p>チャット機能のみを利用する場合は</p>
          <ul>
            <li>
              <a href="/auth/login/facebook">Facebook</a>
            </li>
            <li>
              <a href="/auth/login/google">Google</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>