<html>
  <head>
    <title>アカウントトップ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>アカウントトップ</h1>
      </div>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">ようこそ</h3>
        </div>
        <div class="panel-body">
            ニックネーム: {{.User.Name}}
            自己紹介:
            <p>{{.User.Comment}}</p> 
        </div>
      </div>
    </div>
  </body>
</html>