<html>
  <head>
    <title>マイページ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        {{template "user_header" .}}{{include "../views/templates/user_header.html"}}
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">所属大学</h3>
        </div>
          <div class="panel-body">
            <p>{{.User.Education.Faculty.University.Name}}・{{.User.Education.Faculty.Name}}・{{.User.Education.Name}}</p>  
          </div>

        <div class="panel-heading">
          <h3 class="panel-title">マイプロフィール</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><p>ニックネーム: </p><p>{{.User.Name}}</p></li>
                <li class="list-group-item"><p>自己紹介: </p><p>{{.User.Comment}}</p></li>
            </ul>
            <form action="/user/{{.User.ID}}/profile/edit" method="post" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default btn-block">編集</button>
                    </div>
                </div>
            </form>   
        </div>
      </div>
    </div>
  </body>
</html>